<div class="content">
  <%#div class="content_img" %>
    <%= image_tag "AdobeStock_312787080.jpeg", class: "content_img" %>
    <%#= link_to image_tag(book.image, class: :content_img ), prototype_path(prototype) %>
  <%#/div %>
  <div class="content_body">
    <div class="content_title">
      本のタイトル
    </div>
    <div class="content_text">
      おすすめ文
    </div>
    <div class="content_tag">
      #笑える #感動
    </div>
    <div class="favorite-btn">
      <i class="fas fa-star"></i>
    </div>
  </div>
</div>

<div class="content">
  <%#div class="content_img" %>
    <%= image_tag "AdobeStock_312787080.jpeg", class: "content_img" %>
    <%#= link_to image_tag(book.image, class: :content_img ), prototype_path(prototype) %>
  <%#/div %>
  <div class="content_body">
    <div class="content_title">
      本のタイトル
    </div>
    <div class="content_text">
      おすすめ文
    </div>
    <div class="content_tag">
      #笑える #感動
    </div>
    <div class="favorite-btn">
      <i class="fas fa-star"></i>
    </div>
  </div>
</div>
