<div class="main">
  <div class="title-contents">
    <%= image_tag asset_path("AdobeStock_312787080.jpeg"), class: "title-pict" %>
    <h1 class="title-logo">
      Encounter Books
    </h1>
  </div>

  <div class="contents">
    <p class="service-explain">
      おすすめ本の一覧
    </p>
    <%= render partial: "book", collection: @books %>
  </div>


  <div class="items">
   
    <% if user_signed_in? %>
      <%= link_to(mypage_user_path(current_user.id), class: 'like-btn square') do %>
        <div class="btn-icon">
          <i class="fas fa-star", style="color: #eceaea;"></i>
        </div>
        <div class="btn-text">
          読みたい
        </div>
      <% end %>
    <% end %>  

    <%= link_to(new_book_path, class: 'recommend-btn square') do %>
      <div class="btn-icon">
        <i class="fas fa-book", style="color: #eceaea;"></i>
      </div>
      <div class="btn-text">
        投稿する
      </div>
    <% end %>
  
  </div>

</div>



