<div class="main">
  <div class="book-content">

    <div class="book_image">
      <%#= image_tag @book.image %>
    </div>
    <div class="book_body">
      <div class="book__title">
        本のタイトル
        <%#= @book.title %>
      </div>
      <div class="book__author">
        著者
        <%#= @book.author %>
      </div>
      <div class="content_tag">
        #笑える #感動
      </div>
      <%# unless current_user.id == @book.user_id %>
        <div class="favorite-btn">
          <i class="fas fa-star"></i>
        </div>
      <%# end %>
      <div class="book__summary">
        あらすじ
        <%#= @book.summary %>
      </div>
      <div class="book__recommend">
        おすすめ文
        <%#= @book.recommend %>
      </div>
      <div class="book_body_footer">
        <div class="post-user">投稿者 ユーザー名<%#= @book.user.name %></div>
        <%# if user_signed_in? && current_user.id == @book.user_id %>
          <div class="footer-btn">
            <%= link_to "編集", "#", class: "edit footer__btn " %>
            <%= link_to "削除", "#", class: "delete footer__btn" %>
          </div>
        <%# end %>
      </div>
    </div>

  </div>
</div>

